This notebook desined for tabular classification tasks with pandas and scikit-learn.
It is a simple example of how to use pandas and scikit-learn to build a classification model using a tabular dataset. The code includes data preprocessing, model training, and evaluation steps.
The dataset used in this example is the bank marketing dataset from the UCI Machine Learning Repository. The dataset contains information about a bank's marketing campaign and whether or not a customer subscribed to a term deposit.
The goal is to predict whether a customer will subscribe to a term deposit based on their demographic and behavioral features.

In [17]:
# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
#import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data=pd.read_csv('/home/tisinr/MEGA/Dev/models/classifier/dataset/bank.csv',header=0, sep=';')
# Display the first few rows of the dataset
print(data.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may       261         1     -1         0  unknown  no
1  unknown    5   may       151         1     -1         0  unknown  no
2  unknown    5   may        76         1     -1         0  unknown  no
3  unknown    5   may        92         1     -1         0  unknown  no
4  unknown    5   may       198         1     -1         0  unknown  no

In [6]:
data.info

<bound method DataFrame.info of        age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no     2143     yes   no
1       44    technician    single  secondary      no       29     yes   no
2       33  entrepreneur   married  secondary      no        2     yes  yes
3       47   blue-collar   married    unknown      no     1506     yes   no
4       33       unknown    single    unknown      no        1      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45206   51    technician   married   tertiary      no      825      no   no
45207   71       retired  divorced    primary      no     1729      no   no
45208   72       retired   married  secondary      no     5715      no   no
45209   57   blue-collar   married  secondary      no      668      no   no
45210   37  entrepreneur   married  secondary      no     2971      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
0        unknown    5   may       261         1     -1         0  unknown   no
1        unknown    5   may       151         1     -1         0  unknown   no
2        unknown    5   may        76         1     -1         0  unknown   no
3        unknown    5   may        92         1     -1         0  unknown   no
4        unknown    5   may       198         1     -1         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45206   cellular   17   nov       977         3     -1         0  unknown  yes
45207   cellular   17   nov       456         2     -1         0  unknown  yes
45208   cellular   17   nov      1127         5    184         3  success  yes
45209  telephone   17   nov       508         4     -1         0  unknown   no
45210   cellular   17   nov       361         2    188        11    other   no

[45211 rows x 17 columns]>

In [7]:
data.replace('unknown', pd.NA, inplace=True)

In [8]:
data.isnull().sum()

age              0
job            288
marital          0
education     1857
default          0
balance          0
housing          0
loan             0
contact      13020
day              0
month            0
duration         0
campaign         0
pdays            0
previous         0
poutcome     36959
y                0
dtype: int64

In [9]:
data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [24]:
X=data.drop(columns=['y'])
y=data['y']
print(X.shape)
print(y.shape)

(45211, 16)
(45211,)

In [25]:
X.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
dtype: object

In [40]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,stratify=y,random_state=78)

In [41]:
y_test.shape

(9043,)

In [36]:
X_train.shape

(36168, 16)

In [42]:
y_train.shape

(36168,)

In [43]:
X_test.info

<bound method DataFrame.info of        age          job   marital  education default  balance housing loan  \
14194   32     services    single  secondary      no        0      no  yes
43032   38     services   married  secondary      no      775      no   no
21988   47     services   married  secondary      no      439     yes   no
34758   36     services   married  secondary      no        0     yes   no
7219    26     services   married  secondary      no      611     yes   no
...    ...          ...       ...        ...     ...      ...     ...  ...
32735   36   management   married   tertiary      no     -196     yes  yes
17017   46     services   married    primary      no      860      no   no
12683   36     services   married  secondary      no      -27     yes  yes
19056   59  blue-collar  divorced    primary      no      153      no   no
29750   43   unemployed    single    primary      no      264      no   no

        contact  day month  duration  campaign  pdays  previous poutcome
14194  cellular   11   jul       333         2     -1         0     <NA>
43032  cellular   12   feb      1835         3    182         2  success
21988  cellular   20   aug       156        12     -1         0     <NA>
34758  cellular    6   may       215         3    280         3  failure
7219       <NA>   29   may       177         2     -1         0     <NA>
...         ...  ...   ...       ...       ...    ...       ...      ...
32735  cellular   17   apr        43         1     -1         0     <NA>
17017  cellular   25   jul        80         1     -1         0     <NA>
12683  cellular    7   jul       151         4     -1         0     <NA>
19056  cellular    5   aug       268         2     -1         0     <NA>
29750  cellular    4   feb       224         2     -1         0     <NA>

[9043 rows x 16 columns]>

In [44]:
data['y'].value_counts()

y
no     39922
yes     5289
Name: count, dtype: int64